@page "/"

@using Mindash.Countdown.Web.Models
@using Mindash.Countdown.Web.Services
@inject ICountDownService CountDownService
@inject NavigationManager NavManager

<PageTitle>Index</PageTitle>

<style>
    body {
        background-color: @CountDownViewModel.HexColor;
        color: white;
    }


    .area {
        background: @CountDownViewModel.HexColor;
        background: -webkit-linear-gradient(to left, #8f94fb, @CountDownViewModel.HexColor);
        width: 100%;
        height: 100vh;
    }
</style>

<div class="area" @onclick="OpenEditPage">
    <div class="center">
        <h1 style="font-size: 100pt;">@CountDownViewModel.InfoText</h1>
        <h1 style="font-size: 30pt;">@CountDownViewModel.Title</h1>
    </div>
    <ul class="circles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>


@code
{
    public CountDownViewModel CountDownViewModel { get; set; } = new LoadingCountDownViewModel();

    protected override async Task OnInitializedAsync()
    {
        var countDown = await CountDownService.GetCountDownAsync();

        if (countDown != null)
        {
            CountDownViewModel = new CountDownViewModel(countDown.Title, countDown.HexColor, countDown.DateTime);
        }
        else
        {
            CountDownViewModel = new EmptyCountDownViewModel();
        }
    }

    private void OpenEditPage(MouseEventArgs args)
    {
        NavManager.NavigateTo("/edit");
    }
}